body {
    background-image: url('Image/istockphoto-1323823418-170667a.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    flex-basis: 100%;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 80px;
    text-align: left;
    font-weight: bold;
}

input {
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 9px 18px;
    margin: 0 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(33.33% - 10px);
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

h1 {
    margin-bottom: 25px;
    color: #333;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

.result {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}
